@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Patrick+Hand+SC');

.cursive
    font-family: 'Patrick Hand SC', cursive;

.navbar
    font-family: 'Indie Flower', cursive
    font-size: 150%



.select_mode
    button 
        *
            margin: 0 .3em

@media (min-width: 768px)
    .homepage_image
        max-width 250px

flipWidth = 3em
.flip_move
    width: flipWidth
    height flipWidth
    cursor pointer
    img 
        width flipWidth
        height flipWidth


.test
    outline: 1px solid red

.btn-custom
    background: #96cfba
    color: white
    &:hover
        color: white